.navbarMenue__container {
    position: fixed;
    /* overflow: hidden; */
    top: 0;
    width: 100%;
}

.nav_dropdown {
    left: 30px;
}

.link {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.linkBlack {
    color: black;
}
.hyperlink {
    text-decoration: none;
}
