.taskPage {
    &__richTextColoum {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.addTaskDrawer {
    &__time div {
        margin-top: -0.125rem;
        margin-left: 0.625rem;
    }
}
